@import 'essential';

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.85);
  z-index: 110;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &__circle {
    width: 3em;
    height: 3em;
    border: 6px solid $color-primary;
    border-color: transparent $color-primary transparent $color-primary;
    border-radius: 50%;
    animation: rotate 1.7s ease-in-out infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}