@import 'essential';

.banner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: -80px;

  img {
    filter: blur(5px);
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6em 6em 1em;
    width: 100%;
  }
}
