fieldset {
  border: none;
  padding: 0;
}

.form {
  &-element-wrapper {
    position: relative;
    margin: 0.5em 0;

    + .form-element-wrapper {
      margin-top: 1.5em;
    }
  }

  &__label {
    display: inline-block;
    color: $color-primary;
    text-transform: uppercase;
    font-size: $form-input-font-size;
    font-weight: $font-weight-semi-bold;
    padding-bottom: 0.5em;
  }

  &__error {
    color: $color-primary;
    font-size: 0.75em;
    margin-bottom: 1.5em;
  }
}
