@import 'essential', 'react-date-picker/dist/DatePicker.css', 'react-calendar/dist/Calendar.css';

.react-date-picker {
  width: 100%;
  color: $color-primary;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: $border-radius;

  &:focus,
  &:hover {
    border-color: $color-primary;
    box-shadow: $box-shadow-primary;
  }

  input {
    color: $color-primary;
    background-color: transparent;
    font-size: $form-input-font-size;

    &:invalid {
      background-color: transparent;
    }

    &::placeholder {
      color: $color-secondary;
      opacity: 1;
    }
  }

  &__calendar-button {
    color: $color-primary;
    padding: $form-input-padding;
  }

  &__wrapper {
    border: none;
    background-color: rgba($color-secondary, 0.5);
    border-radius: $border-radius;
  }

  &__inputGroup {
    padding: $form-input-padding;
  }
}
