@import 'essential';

.result-list__item {
  overflow: hidden;
  display: block;
  position: relative;

  &:hover {
    .result-item__pop-out {
      display: block;
    }
  }

  .result-item {
    &__body {
      margin: 1em 0;
    }

    &__title {
      width: 80%;
      margin: 0;
      color: lighten($color-secondary, 20%);
      padding: 0.2em 0;
    }

    &__release-date {
      width: 20%;
      margin: 0;
      border: 1px solid $color-secondary;
      color: lighten($color-secondary, 15%);
      text-align: center;
      border-radius: $border-radius;
      padding: 0.2em 0.4em;
      font-size: 0.9em;
      align-self: flex-start;
    }

    &__genre {
      width: 100%;
      margin: 0;
      margin-top: 0.25em;
      color: lighten($color-secondary, 10%);
      font-size: 0.9em;
    }
  }
}
