/**
 * This file will contain all our theme variables that will be used
 * through out all the application.
 */

// Fonts
$font-family: 'Montserrat', sans-serif !default;
$font-weight-regular: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 800 !default;

// Colours
$color-primary: #f65261 !default;
$color-secondary: #555555 !default;

$color-white: #ffffff !default;
$color-black: #232323 !default;
$color-grey: #424242 !default;

// Borders
$border-radius: 8px !default;
